{{> nav}}
<div class="newsImgJumbo">
    <img class="newsImage" src="./images/newsPaper.jpg" alt="news">
    <h1 class="newsImgText">NYTimes Article Scrapper</h1>
</div>
<div class="container">
    <div id="articles"></div>
</div>
